body {
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h1 {
        margin: 2em;
        text-align: center;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    .card {
        border: 1px solid grey;
        //border-radius: 5px;
        padding: 10px;
        background-color: #ddd;
        margin: 10px;

        .title {
            font-weight: bold;
            font-size: 1.6em;
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}